body{
    margin: 0;
    padding: 0;
}

.logo{
    text-align: center;
}

.logo_img{
    width: 300px;
    cursor: pointer;
    
}

.top{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 100px;
    text-align: right;
}

#login, #signup{
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    color: rgb(124, 124, 124);
    transition-duration: 0.5s;
}

#login{
    margin-right: 10px;
}

#login:hover, #signup:hover{
    color: rgb(194, 197, 196);
}

.menubar{
    margin-top: 30px;
    width: 100%;
    height: 50px;
    font-weight: bold;
    color: rgb(94, 93, 92);
}

.menuul{
    display: flex;
    justify-content: space-around;
    list-style-type: none; 
}

.menuli{
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.5s;
    position: relative;
}

.menuli:hover{
    color: rgb(194, 197, 196);
}

.dropdown-menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.menuli:hover .dropdown-menu {
    display: block;
}

.dropdown-item{
    font-size: 15px;
    transition-duration: 0.5s;
    color: rgb(94, 93, 92);
    padding: 10px;
    font-weight: bold;
}

.dropdown-item:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(50, 163, 255);
}

.title{
    position: absolute;
    left: 45%;
    font-weight: bold;
    font-size: 20px;
    
}

.carousel{
    margin-top: 20px;
}

.d-block{
    width: 100%;
    height: 600px;
}

.content{
    margin-top: 150px;
    text-align: center;
}

.dogimg, .dailyimg, .reviewimg{
    width: 300px;
    height: 300px;
    padding: 10px;
    cursor: pointer;
}

.row{
    margin-bottom: 10px;
}

.btn{
    margin-top: 10px;
    margin-bottom: 100px;
    /* background: rgb(82, 190, 240); */
    background: rgb(255, 255, 255);
    border: solid 1px rgb(177, 177, 177);
    color: rgb(90, 90, 90);
    transition-duration: 0.5s;
}

.btn:hover{
    /* background: rgb(211, 211, 211); */
    background: rgb(82, 190, 240);
    border: solid 1px white;
}

.col-md{
    position: relative;
}

.overlay{
    position: absolute;
    background: lightgray;
    width: 97%;
    height: 97%;
    opacity: 0;
    transition: all 1.5s;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.overlay:hover{
    opacity: 0.5;
}

.review{
    margin-top: 150px;
    text-align: center;
}

.photo{
    margin-top: 150px;
    text-align: center;
}

.photorow{
    display: flex;
    
}

.photoimg{
    width: 350px;
    height: 350px;
    cursor: pointer;
}

.a{
    margin: 0;
    padding: 0;
}