header{
width: 100%;
height: 280px;
background: lightgray;
position: relative;
}

.headerimg{
    position: absolute;
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1000px; /* 최대 너비 설정 */
}



.top{
    margin-top: 11px;
    margin-bottom: 20px;
    margin-right: 100px;
    text-align: right;
    position: relative;
}

.title{
    position: absolute;
    left: 48%;
    font-weight: bold;
    font-size: 18px;
    color: rgb(124, 124, 124);
    
}

#login, #signup{
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    color: rgb(124, 124, 124);
    transition-duration: 0.5s;
}

#login{
    margin-right: 10px;
}

#login:hover, #signup:hover{
    color: rgb(194, 197, 196);
}

.logo{
    text-align: center;
}

.logo_img{
    /* width: 300px; */
    width: 300px;
    cursor: pointer;
    
}
.logo2img{
    width: 130px;
    height: 55px;
    margin-top: -5px;
}

.menubar{
    margin-top: 30px;
    width: 100%;
    height: 50px;
    font-weight: bold;
    color: rgb(94, 93, 92);
}

.menuul{
    display: flex;
    justify-content: space-around;
    list-style-type: none; 
}

.menuli{
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.5s;
    position: relative;
}

.menuli2{
    margin-top: 10px;
    color: rgb(182, 182, 182);
}

.menuli:hover{
    color: rgb(194, 197, 196);
}

.dropdown-menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.menuli:hover .dropdown-menu {
    display: block;
}

.dropdown-item{
    font-size: 15px;
    transition-duration: 0.5s;
    color: rgb(94, 93, 92);
    padding: 10px;
    font-weight: bold;
}

.dropdown-item:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(50, 163, 255);
    /* color: rgb(50, 163, 255); */
}

.carousel{
    margin-top: 20px;
}

.d-block{
    width: 100%;
    height: 600px;
}

.carousel-control-prev, .carousel-control-next {
    width: 5%; /* 버튼의 너비 */
    top: 50%; /* 세로 정렬을 위한 위치 조정 */
    transform: translateY(-50%); /* 세로 중앙 정렬 */
}

.content{
    margin-top: 150px;
    text-align: center;
}

.dogimg, .placeimg, .dailyimg, .reviewimg{
    width: 100%; /* 이미지 너비 100%로 설정 */
    height: 230px; /* 비율 유지를 위해 자동 높이 설정 */
    max-width: 230px; /* 최대 너비 설정 */
    margin-bottom: 3px; /* 아래 여백 추가 */
    cursor: pointer;
}

.btn{
    margin-top: 10px;
    margin-bottom: 100px;
    /* background: rgb(82, 190, 240); */
    background: rgb(255, 255, 255);
    border: solid 1px rgb(177, 177, 177);
    color: rgb(90, 90, 90);
    transition-duration: 0.5s;
}

.btn:hover{
    /* background: rgb(211, 211, 211); */
    background: rgb(82, 190, 240);
    border: solid 1px white;
}

.overlay{
    position: absolute;
    background: lightgray;
    width: 97%;
    height: 97%;
    opacity: 0;
    transition: all 1.5s;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.overlay:hover{
    opacity: 0.5;
}

.daily{
    margin-top: 150px;
    text-align: center;
}

.review{
    margin-top: 150px;
    text-align: center;
}

.dogrow, .dailyrow , .reviewrow{
    display: flex; 
    justify-content: space-between;
}

.photo{
    margin-top: 150px;
    text-align: center;
}

.photorow{
    display: flex;
    justify-content: space-between;
}

.photoimg{
    width: 100%;
    max-width: 300px;
    height: 300px;
    cursor: pointer;
    margin-bottom: 15px;
}

footer{
    position: relative;
    margin-top: 200px;
    width: 100%;
    height: 300px;
    /* background: rgb(214, 214, 214); */
    background: rgb(235, 235, 235);
}

.footerinfo{
    display: flex; 
    position: absolute; 
    top: 5%; 
    left: 41%;
}

.footertitle{
    position: absolute;
    width: 300px;
    top: 15%;
    left: 42%;
}

.footercontent{
    text-align: center;
    position: absolute;
    color: rgb(94, 95, 95);
    top: 60%;
    left: 43%;
}